// extend 用 %
%btn{
    display: inline-block;
    vertical-align: top;
    width: 176px;
    border: 2px solid #1E50FF;
    border-radius: 16px;
    padding: 12px 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
    text-align: center;
}