
/*
 * Page name
 * Copyright 2023
 * Author
 * Licensed
 */
/* -------------------------- *\
	Content
\* -------------------------- */

/**
 * Content ............ You are reading it!
 * Globel ............ Set common styles
 * Layout ............ Set grid styles
 * Component ............ Set component styles
 * Utility ............ Set some tools style
 **/

 @import "Globel.scss";

// Valu
body{
    background-color: #02050E;
}
// extend ç”¨ %
%btn{
    display: inline-block;
    vertical-align: top;
    width: 176px;
    border: 2px solid #1E50FF;
    border-radius: 16px;
    padding: 12px 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
    text-align: center;
}
/* -------------------------- *\
    Layout
\* -------------------------- */
.container{
    // border :1px solid #fff;
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
}
/* -------------------------- *\
    Component
\* -------------------------- */
.wrapper{
    background-color: #02050E;
    height: 100vh;
}
// navbar
.nav-frame{
    display: flex;
    justify-content: space-between;
    height: 56px;
    padding: 0;
    width: 100%;
    margin-top: 20px;
    .nav-box-1{
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        margin-bottom: 8px;
        padding: 0;
        width: 140px;
        height: 40px;
        .nav-images{
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            left: 0;
            top: 0;
            width: 43px;
            height: 40px;
        }
        .nav-text{
            font-size: 16px;
            font-weight: 600;
            line-height: 32px;
            padding-left: 10px;
            margin-top: 4px;
            margin-bottom: 4px;
            white-space: nowrap;
        }
    }
    .nav-box-2{
        float: right;
        width: 843px;
        height: 56px;
        margin-left: 199px;
        // margin-top: 29px;
        display: flex;
        justify-content: space-between;

        .nav-menu{    
            // width: 520px;
            // border: 1px solid #1E50FF;

            .nav-item{
                // border: 1px solid #1E50FF;
                float: left;
                .nav-link{
                    color: #CCC;
                    display: block;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 32px;
                    padding-top: 12px;
                    padding-bottom: 12px;
                    margin-right: 32px;
                    transition: all 0.1S;
                    // padding: 12px 16px;
                    // border: 1px solid #1E50FF;
                }
                .nav-link:hover{
                    color: #fff;
                    border-bottom: 2px solid #1E50FF;
                }
            } 
        }
    }
    .nav-btn{
        float: right;
        width: 158px;
        height: 56px;
        
        .nav-wallet{
            border: 1px solid #1E50FF;
            border-radius: 16px;
            font-weight: 600;
            font-size: 16px;
            line-height: 32px;
            padding: 12px 16px;
            white-space: nowrap;
            transition: all 0.3s;
        }
        .nav-wallet:hover{
            background-color: #1E50FF;
            color: #fff;
        }
    }    
}
// hero
.hero{
    // border: 1px solid #FFF;
    // position: absolute;
    // width: 100%;
    // height: 768px;
    top: 0;
    left: 0;
    .container{
        display: flex;
        justify-content: space-between;
        height: 640px;
        align-items: center;
    }
}

.hero-box{
    .hero-title{
        width: 631px;
        font-size: 64px;
        line-height: 80px;
        font-weight: 700;
        color: #fff;
    	text-align: justify;
    }
    .hero-para{
        width: 585px;
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
        margin-top: 24px;
        color: #adb9c7;
    	text-align: justify;
    }
    .hero-btn{
        display: block;
        height: 56px;
        width: 178px;
        background-color: #02050E;
        border: 1px solid #1E50FF;
        border-radius: 16px;
        margin-top: 40px;
        transition: all 0.3s;
        
        .hero-text{
            display: block;
            font-size: 16px;
            line-height: 32px;
            font-weight: 600;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    .hero-btn:hover{
        color: #fff;
        background-color: #1E50FF;
    }
}
.hero-card-1{
    width: 400px;
    margin-right: 100px;
    // background-color: #272D37;
    .card-box-1{
        width: 352px;     
        margin-left: 24px;
        margin-bottom: 48px;
        height: 352px;

        .card-image{
            position: absolute;
            padding-top: 100%;
            top: 24px;
            left: 0;
            bottom: 0;
            right: 0;
            background-repeat: no-repeat;
	        // background-size: cover;
	        background-position: center;
        }

    }
    .card-box-1:before{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .card-text{
        width: 192px;
        height: 42px;
        position: absolute;
        top: 294px;
        left: 84px;
        background-color: #0F182E;
        border-radius: 16px;
        .card-text-box{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 144px;
            height: 26px;
            .card-icon{
                background-image: url('../images/001-fire.png');
                width: 24px;
                height: 24px;
                display: inline-block;
                position: absolute ;
                left: 0;
            }
            .card-time{
                font-weight: 800;
                font-size: 16px;
                line-height: 26px;
                text-align: justify;
                display: inline-block;
                position: absolute ;
                right: 0;
                color: #fff;
            }
        }
    }
    .card-box-2{
        margin: 0 auto;
        width: 353px;
        height: 32px;
        padding-bottom: 24px;
        // border: 1px solid #fff;
        display: flex;
        justify-content: space-between;
        text-align: center;
        .card-name{
            color: #fff;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            width: 267px;
            height: 32px;
            display: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .card-btn{
            margin-left: 27px;
            background-color: #1E50FF;
            width: 59px;
            height: 29px;
            border-radius: 10px;
            display: right;
            .card-bsc-btn{
                display: inline-block;
                color: #FFF;
                font-size: 14px;
                line-height: 24px;
                font-weight: 800;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
    .card-box-3{
        padding-top: 27px;
        margin: 0 auto;
        width: 350.4px;
        padding-bottom: 24px;
        .card-user{
            display: inline-block;
            height: 56px;
            .card-text-0{
                float: right;
                padding-left: 16px;
                .card-text-1{
                    color: #8F9CA9;
                    line-height: 26px;
                    font-weight: 400;
                    font-size: 16px;
                }   
                .card-text-2{
                    color: #fff;
                    line-height: 28px;
                    font-weight: 700;
                    font-size: 18px;
                } 
            }
        }    
        .card-bid{
            float: right;
            width: 81.84px;
            height: 41.85px;
            .card-text-3{
                color: #8A8AA0;
                white-space: nowrap;
            }
            .card-text-4{
                color: #fff;
                font-size: 19px;
                text-align: justify;
            }
        }
    }
}
// .hero-card-2{
//     position: absolute;
//     width: 400px;
//     height: 400px;
//     top: 184px;
//     left: 1440px;
// }
// logo
.logo-brand{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 80px;
    margin-top: 53.5px;
    .logo-item{
        margin: auto 0;
    }
}
// Start Create and sell your NFTs
.yourNFTs{
    margin-top: 157.4px;
    margin-bottom: 160px;
}
.yourNFTs-text-box{
    width: 583px;
    height: 128px;
    // display: inline-block;
    margin: 0 auto;
    margin-bottom: 56px;
    .yourNFTs-text{
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        color: #fff;
        text-align: center;
    }
    
}

.yourNFTs-box{
    text-align: center;
    background: #272D37;
    border-radius: 16px;
    height: 368px;
    .yourNFTs-box-icon{
        display: inline-block;
        margin-top: 56px;
        margin-bottom: 48px;
    }
    .yourNFTs-box-text{
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #fff;
    }
    .yourNFTs-box-para{
        display: inline-block;
        margin-top: 24px;
        margin-bottom: 56px;
        width: 306px;
        height: 72px;
        color: #ADB9C7;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }
}
// Start Live Auctions
.SLA-frame{
    margin-bottom: 56px;
    height: 64px;
    .SLA-text{
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        color: #fff;
        float: left;
    }
    .SLA-btn{
        float: right;
        transition: all 0.3s;
        @extend %btn
    }
    .SLA-btn:hover{
        background-color: #1E50FF;    
    }
}
.SLA-card{
    padding: 0;
    margin: 0;
    width: 33.33333333%;
}
.SLA{
    .hero-card-1{
        background-color: #272D37;
        border-radius: 24px;
        padding: 0;
        margin: 0;
    }
    .card-box-2{
        margin-top: 56px;
    }
    .card-box-3{
        padding-bottom: 24px;
    }
}
// Start Featured Artist
.FA-frame{
    margin-top: 160px;
    margin-bottom: 56px;
    height: 64px;
    .FA-text{
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        color: #fff;
        float: left;
    }
    .FA-btn{
        float: right;
        transition: all 0.3S;
        @extend %btn
    }
    .FA-btn:hover{
        background-color: #1E50FF;    
    }
}
.FA-card{
    padding: 8px;
    background-color: #272D37;
    border-radius: 16px;
    .FA-img-container{

        border-radius: 16px;
        overflow: hidden;
        /*border: 1px solid #000;*/
        .FA-image{
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

        }
    }
    .FA-img-container:before{
        content: '';
        display: block;
        width: 100%;
        padding-top: 75%;
    }
    .FA-user-img-container{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-36%);
    }
    .FA-name{
        display: block;
        text-align: center;
        margin-top: 70px;
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #fff;
    }
    .FA-text{
        display:block;
        text-align: center;
        margin-bottom: 24px;
        .FA-icon{
            display: inline-block;
        }
        .FA-money{
            display: inline-block;
            margin-left: 4px;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
        }
    }
}
// Start Hot NFTs
.HN-frame{
    margin-top: 160px;
    margin-bottom: 56px;

    .HN-text{
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        color: #fff;
        display: inline-block;
    }
    .HN{
        float: right;
        .HN-item{
            border: 1px solid #1E50FF;
            background: rgba(30, 80, 255, 0.1);
            border-radius: 8px;
            float: left;
            padding: 16px;
            margin-right: 24px;
            transition: all 0.3S;
            .HN-link{
                display: block;
                line-height: 24px;
                padding-left: 16px;
                padding-right: 16px;
            }
            .HN-link:hover{
                color: #fff;
            }
        }
        .HN-item:hover{
            background: #1E50FF;
        }
        .HN-item:last-child{
            margin-right: 0px;
        }
        
    }
}
.HN-BGC{
    background-color: #272D37;
    border-radius: 16px;
    padding: 0;
    padding-right: 12px;
}
.col-lg-4.NH-pad{
    padding-right: 24px;
    padding-left: 0;
}
.col-lg-4.NH-pad:last-child{
    padding-right: 0;
}
.HN-margin{
    margin-top: 32px;
}
.HN-btn{
    display: block;
    margin-top: 56px;
    margin: 56px auto 168px auto;
    transition: all 0.3S;
    @extend %btn
}
.HN-btn:hover{
    background-color: #1E50FF;
    color: #fff;
}

// CTA
.CTA{
    border: 1px solid #fff;
    text-align: center;
    margin-bottom: 160px;
    background: radial-gradient(151.95% 463.58% at -44.29% -62.34%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    backdrop-filter: blur(37px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 16px;
    .CTA-title{
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        color: #fff;
        margin-top: 48px;
        margin-bottom: 24px;
    }
    .CTA-para{
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        line-height: 32px;
        margin-bottom: 40px;
    }
    .CTA-btn{
        margin-bottom: 48px;
        width: 239px;
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
        padding: 16px;
        transition: all 0.3s;
        @extend %btn       
    }
    .CTA-btn:hover{
        background-color: #1E50FF;
        color: #fff;
    }
}
// footer
.footer-logo{
    display: inline-block;
    margin-top: 88px;
    vertical-align: top;
    .nav-box-1{
        display: inline-block;
        margin-top: 8px;
        margin-bottom: 8px;
        padding: 0;
        .nav-images{
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 43px;
            height: 40px;
        }
        .nav-text{
            display: inline-block;
            font-size: 16px;
            font-weight: 600;
            line-height: 32px;
            padding-left: 10px;
            margin-top: 4px;
            margin-bottom: 4px;
            white-space: nowrap;
        }
    }
    .footer-para{
        display: block;
        color: #ADB9C7;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        width: 392px;
    }
}
.footer-Resources{
    display: inline-block;
    vertical-align: top;
    margin-top: 88px;
    margin-left: 88px;
    margin-right: 88px;
}
.footer-Company{
    display: inline-block;
    vertical-align: top;
    margin-top: 88px;
}
.footer-Contact{
    vertical-align: top;
    display: inline-block;
    margin-top: 88px;
    width: 179px;
    margin-left: 88px;
    .footer-Contact-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #ADB9C7;
    }
}
.footer-Resources-title{
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
}
.footer-Resources-text{
    .footer-Resources-item{
        margin-bottom: 16px;
        .footer-Resources-link{
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: #ADB9C7;
        }
    }
}
.footer-Contact-item{
    display: inline-block;
    margin-right: 24px;
    margin-top: 16px;
    width: 32px;
    font-size: 32px;
    line-height: 32px;
}
.copyright{
    color: #ccc;
	text-align: center;
	line-height: 24px;
	padding: 16px 0;
	font-size: 14px;
}

/* -------------------------- *\
	Utility
\* -------------------------- */